<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.User_module"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.AddQuestionActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ViewQuizActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AddEditQuestionActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AddEditQuizActivity"
            android:exported="true" />
        <activity
            android:name=".activity.QuizListActivity"
            android:exported="true" >

        </activity>

        <activity
            android:name=".activity.ViewTestActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AddEditTestActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TestListActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ViewCourseActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AddEditCourseActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CourseListActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ViewProgramActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AddEditProgramActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ProgramListActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".activity.CreatePostActivity"
            android:exported="true" />
        <activity
            android:name=".Adapters.PostAdapter"
            android:exported="true" />
        <activity
            android:name=".activity.ViewForumActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddEditForumActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ForumListActivity"
            android:exported="true" />
        <activity
            android:name=".activity.testActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".activity.EmailConfirmationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TakeQuizActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ScoreActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CertificateActivity"
            android:exported="true" />
        <activity
            android:name=".activity.QuizResultsActivity"
            android:exported="true" />

    </application>

</manifest>